name: 羊毛赚
on:
  workflow_dispatch:
  watch:
    types: started
  schedule:
    - cron: '0 */6 * * *'
jobs:
  build:
    runs-on: ubuntu-latest       
    steps:
      
      - name: Checkout
        run: |
          git clone https://github.com/a1564471347/ZQ.git ~/ZQ
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: npm install
        run: |
          cd ~/ZQ
          npm install
          npm install cron
          npm install request
          curl ipinfo.io/json
      
      - name: '【羊毛赚】'
        run: |
          cd ~/ZQ   
          node Task/ymz.js
 

